@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
body{
    font-family: 'Lexend Mega', sans-serif;
    color:#E3E2DF;
    background-color:#5D001E ;
    line-height: 1.4;
    width:100%;
    overflow-x: hidden;
}
#navbar {
    position: fixed;
    height: 100%;
    min-width: 300px;
    width: 300px;
    top:0px;
    left:0px;
    color: #5D001E;
    background-color:#E3E2DF ;
    padding: 75px 0px;
}


#background {
    position: absolute;
    width: 100%;
    height:auto;
    left:300px;
    top:0px;
    
    
    
    z-index: -1;
}
/* .background_stretch {
  width:100%;
  height: auto;
  opacity: 0.75;
}
#background_right {
    position: absolute;
    width: 100%;
    height: auto;

    top:600px ;
    left:885px ;
    z-index: -1;
}
.background_right_stretch {
    width: 75%;
    height:auto;
    opacity: 0.75;
}*/
#VD_logo {
    position:fixed;
    height:auto;
    min-width: 300px;
    width: 300px;
    top: 10px;
    left: 0px;
    z-index:2;
}
.header_text {
    display: grid;
    grid-template-columns: 1fr, 1fr ;
    grid-gap: 50px;
    margin-left: 310px;
    width: 100%;
    height: auto;
    position: absolute;
    top:18vw;
    left:0vw;
    z-index:2;
    color:#E3E2DF;
    margin-left: 310px;
    top: 0px;
    transition:text-shadow .5s ease ;
}
h2 {
    margin-left: 410px;
    color:#E3E2DF;
    margin-top:280px;
    font-size: xx-large;
}
.header-quote:hover{
    text-shadow: 10px 10px 10px;
}
.header-title {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    font-size:20px;
    color:#E3E2DF;
    transition:text-shadow .5s ease ;
    z-index: 2;

}
.header-quote {
    grid-column: 1;
    grid-row: 1;
    margin-left: 610px;
    font-size:15px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: red;
    transition:text-shadow .5s ease ;
    z-index:2;

}
#navbar header {
    color:#5D001E;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;

}
#navbar li {
    list-style: none;
    padding: 5px 0px;
    position: relative;
    width: 100%;
}
#navbar a {
    color:#EE4C7C ;
    text-decoration: none;
}
#navbar a:hover {
    color:#5D001E;
    
    text-decoration: underline;

}
#main-doc {
    position: absolute;
    top: 30vw;
    margin-left: 310px;
    padding: 20px;
}
section {
    background: rgb(230, 255, 255, 0.1);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin:auto;
}
section header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 20px;
}

@media only screen and (max-width: 800px){
    /*  for mobile   */
    #VD_logo {
        position:absolute;
        height:auto;
        min-width: 300px;
        width: 300px;
        top: 10px;
        left: 0px;
        z-index:2;
    }
    .header_text {
        display: grid;
        grid-template-columns: 1fr, 1fr ;
        grid-gap: 50px;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        height: auto;
        position: absolute;
        top:18vw;
        left:300px;
        z-index:2;
        
        
    }


    #navbar{
        position:absolute;
        min-width: 300px;
        width: 300px;
        max-width: 300px;
         
        top: 0px;
        left: 0px;
    
        color:#5D001E;
        background-color: #E3E2DF;
    
        padding:75px 0px;
        z-index:1;
    }

    #main-doc {
        position: relative;
        margin-top: 300px;
        margin-left: 0px;
        
    }
  
   

   

}